.homePage {
    background-color: var(--secondaryColor);
    color: var(--textColor);
    max-width: 1100px;
    margin: 0 auto;
}

.homePage h1 {
    margin: 0 10px;
}

.homePage .movieSection h2 {
    margin: 10px;
}

.homePage .movieSection {
    margin: 0 auto;
    margin-bottom: 2rem;
}

.homePage .movieList {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.movieCard {
    text-align: center;
    width: 220px;
}

.movieCard .movieImage {
    width: 200px;
    border-radius: 10px;
    border: 5px solid var(--secondaryColor);
    margin: 10px;
    overflow: hidden;
    height: auto;
}

.movieCard .movieImage img{
    width: 200px;
}

.movieCard:hover {
    cursor: pointer;
    .movieImage {
        border-color: var(--primaryColor);
    }
    color: var(--primaryColor);
}

.movieCard .movieImage svg {
    position: absolute;
    margin-top: 132px;
    margin-left: 75px;
}

.movieCard path {
    width: 50px;
}