* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #ed6a5a;
    --secondaryColor: #1e1f25;
    --tertiaryColor: #424450;
    --textColor: white;
}

body {
    background-color: var(--secondaryColor);
}